body{
    font-family: 'Raleway', sans-serif;
}

.backColor{
    background-color: rgba(235, 122, 57, 0.719);
}

.cell{
    border: black;
    border-style: solid;
    border-width: thin;
    border-radius: 25px;
    padding: auto;
    display: none;
}

.txtCenter{
    text-align: center;
}