body{
    font-family: 'Raleway', sans-serif;
}

.backColor{
    background-color: rgba(235, 122, 57, 0.719);
}

.cell{
    border: black;
    border-style: solid;
    border-width: thin;
    border-radius: 25px;
    padding: auto;
    display: none;
}

.txtCenter{
    text-align: center;
}

.card{
    width: 150px;
    height: 175px;
    margin: 5px;
    border-radius: 10px;
}

.dayIcon{
    width: 40px;
    height: 40px;
}

#daily{
    padding: 15px;
}

.cityBtn{
    text-align: center;
    border-radius: 15px;
    background-color: rgba(173, 173, 173, 0.507);
} 

#citiesList{
    padding-left: 0px;
}

.low{
    background-color: green;
}

.moderate{
    background-color: yellow;
}

.high {
    background-color: orange;
}

.veryHigh{
    background-color: red;
}

.citiesContainer{
    min-width: 125px;
}

@media screen and (min-width: 575px){
    .citiesContainer{
        margin-left: 3;
    }
}

.card{
    width: 135px;
}